@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Jomhuria&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light;
}
body {
  overflow-x: hidden;
}
.font-eb-garamond {
  font-family: "EB Garamond", serif;
}
.font-jost {
  font-family: "Jost", sans-serif;
}
.font-jomhuria {
  font-family: "Jomhuria", serif;
  font-weight: 400;
  font-style: normal;
}

.text-primary {
  color: #0c331c;
}
.bg-primary {
  background-color: #0c331c;
}
.border-primary {
  border-color: #0c331c;
}

.swiper-custom-theme {
  --swiper-navigation-color: #0c331c;
  --swiper-pagination-color: #0c331c;
}

.swiper-custom-theme .swiper-pagination-bullet {
  background: #e0e0e0;
  opacity: 1;
}

/* 2. Style the Navigation Buttons (Next/Prev) */
.swiper-custom-theme .swiper-button-next,
.swiper-custom-theme .swiper-button-prev {
  /* Set Background, Padding, and Shape */
  background-color: white; /* White background */
  padding: 10px; /* Add padding around the icon */
  border-radius: 50%; /* Make it fully rounded (circular) */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow */
  transition: background-color 0.3s ease;
}

/* 3. Style the Navigation Button on Hover */
.swiper-custom-theme .swiper-button-next:hover,
.swiper-custom-theme .swiper-button-prev:hover {
  background-color: #f0f0f0; /* Light gray on hover for interaction feedback */
}

.swiper-custom-theme .swiper-pagination-bullet-active {
  background: #0c331c;
}
